{
  "files-path": "/home/ansible/files",
  "crackers-path": "/home/ansible/crackers",
  "hashlists-path": "/home/ansible/hashlists",
  "zaps-path": "/home/ansible",
  "preprocessors-path": "/home/ansible/preprocessors",
  "url": "http://{{ server_ip }}/api/server.php",
  "voucher": "{{ vouchers[play_hosts.index(inventory_hostname)]}}",
  "token": "",
  "uuid": ""
}
