<?php

//START CONFIG
$CONN['user'] = 'hashtopolis';
$CONN['pass'] = '{{ hashtopolis_password }}';
$CONN['server'] = '127.0.0.1';
$CONN['db'] = 'hashtopolis';
$CONN['port'] = '3306';

$DIRECTORIES = [
  "files" => "/var/www/hashtopolis/files/",
  "import" => "/var/www/hashtopolis/import/",
  "log" => "/var/www/hashtopolis/log/",
  "config" => "/var/www/hashtopolis/config/",
];

//END CONFIG
