<?php

//START CONFIG
$CONN['user'] = '{{ app_user }}';
$CONN['pass'] = '{{ mysql_root_password }}';
$CONN['server'] = 'localost';
$CONN['db'] = 'hashtopolis';
$CONN['port'] = '3306';

$DIRECTORIES = [
  "files" => "/var/www/hashtopolis/files/",
  "import" => "/var/www/hashtopolis/import/",
  "log" => "/var/www/hashtopolis/log/",
  "config" => "/var/www/hashtopolis/config/",
];

//END CONFIG
