---
- name: Enable https inspection
  hosts: check_point
  gather_facts: False
  connection: httpapi
  vars:
    b64_password: "{{ sic_pw | b64encode }}"
    valid_from: "{{ lookup('pipe', 'date +%Y-%m-%d') }}"
    valid_to: "{{ lookup('pipe', 'date -d \"5 years\" +%Y-%m-%d') }}"
  vars_files:
    - vars.yml
  tasks:
    - name: enable app control and url filtering blades
      check_point.mgmt.cp_mgmt_simple_cluster:
        name: firewall1
        application_control: true
        url_filtering: true
    - name: add outbound inspections certificate
      check_point.mgmt.cp_mgmt_add_outbound_inspection_certificate:
        base64_password: "{{ b64_password }}"
        issued_by: "{{ domain_name }}"
        valid_from: "{{ valid_from }}"
        valid_to: "{{ valid_to }}"
      register: certificate_output
    - name: extract base64 certificate for importing as root CA certificate
      set_fact:
          certificate: "{{ certificate_output['add-outbound-inspection-certificate']['base64-public-certificate'] }}"
    - name: write certificate to file certificate.cer
      copy:
        content: "{{ certificate }}"
        dest: certificate.cer
        # need to re-test
        # certutil -decode certificate.cer decoded.cer
        # manually exporting the cert and then enabling https seems the best route
        # $FWDIR/bin/export_https_cert -local -f mycompany.cer
    # enable https inspection on cluster (missing from Ansible collection)
    # workaround is to do it with another playbook using mgmt_cli
    - name: publish changes
      check_point.mgmt.cp_mgmt_publish:
    - name: fetch outbound inspection certificate
      check_point.mgmt.cp_mgmt_outbout_inspection_certificate_facts:
        name: outbound_cert
        details_level: full
    - name: extract base64 public certificate for importing as root CA certificate
      set_fact:
        certificate: "{{ outbound_inspection_certificate['base64-public-certificate'] }}"
    - name: write certificate to file certificate_public.cer
      copy:
        content: "{{ certificate }}"
        dest: certificate_public.cer
        
