---
- name: Update policy for branch 3
  hosts: check_point
  connection: httpapi
  gather_facts: false
  tasks:
    - name: Add installation target
      check_point.mgmt.cp_mgmt_package:
        access: true
        color: forest green
        comments: Access policy for Lab Branches
        name: Lab_Policy_Branches
        threat_prevention: false
        installation_targets:
          - firewall2
          - firewall3
        state: present
    - name: Publish changes
      check_point.mgmt.cp_mgmt_publish:
