---
- name: Modify SMS to enable static NAT and manage remote gateways
  hosts: check_point
  connection: httpapi
  gather_facts: false
  tasks:
    - name: Enable static NAT on sms
      check_point.mgmt.cp_mgmt_checkpoint_host:
        name: sms
        nat_settings:
          auto_rule: true
          ip_address: 192.168.101.7
          method: static
          install_on: firewall1
        state: present
    - name: Publish changes
      check_point.mgmt.cp_mgmt_publish:
