---
- name: SMS initial setup playbook
  hosts: sms
  gather_facts: false
  vars:
    system_name: "{{ sms_system_name }}"
    system_ip: "{{ sms_ip }}"
    system_ip_masklen: "{{ sms_ip_masklen }}"
    system_default_gateway: "{{ sms_default_gateway }}"
  vars_files:
    - vars.yml

  tasks:
    - name: Allow user ansible to access api
      command: "gaia_api access -u ansible -e true"
    - name: Allow unlocal users to access api
      command: "gaia_api access -u unlocal_users -e true"
    - name: Create a session key
      command: "mgmt_cli -f json login --user 'ansible' --password '{{ ansible_user_password }}' --context gaia_api --version 1.8"
      register: session_key
    - name: Save session key
      copy:
        content: "{{ session_key.stdout }}"
        dest: "/tmp/.session.txt"
    - name: Set system name
      command: "mgmt_cli -s /tmp/.session.txt -f json set hostname name '{{ system_name }}' --context gaia_api --version 1.8"
    - name: Set default route
      command: "mgmt_cli -s /tmp/.session.txt -f json set static-route address '0.0.0.0' mask-length 0 next-hop.1.gateway '{{ system_default_gateway }}' type 'gateway' comment 'Default route' --context gaia_api --version 1.8"
    - name: Set timezone
      command: "mgmt_cli -s /tmp/.session.txt -f json set time-and-date timezone '{{ timezone }}' --context gaia_api --version 1.8"
      ignore_errors: true
    - name: Set DNS
      command: "mgmt_cli -s /tmp/.session.txt -f json set dns primary '{{ dns_server_primary }}' suffix '{{ domain_name }}' secondary '{{ dns_server_secondary }}' tertiary '{{ dns_server_tertiary }}' --context gaia_api --version 1.8"      
    - name: Set FTCW
      command: "mgmt_cli -s /tmp/.session.txt -f json set initial-setup grub-password '{{ grub_password }}' security-management.type 'primary' --context gaia_api --version 1.8"
      ignore_errors: true
    - name: Wait until FTW completes
      stat:
        path: /etc/.wizard_accepted
      register: file_data
      until: file_data.stat.exists
      retries: 20
      delay: 15
    - name: Remove the session key
      file:
        path: /tmp/.session.txt
        state: absent
    - name: Waiting 15 seconds before reboot
      pause:
        seconds: 15
    - name: Reboot
      command: "shutdown -r now"
      async: 1
      poll: 0
      ignore_errors: true
    - name: Wait for SMS to come back up (ssh)
      ansible.builtin.wait_for_connection:
        delay: 75
    - name: Create a session key
      command: "mgmt_cli -f json login --user 'admin' --password '{{ admin_password }}' -d 'System Data'"
      register: session_key
      retries: 20
      delay: 15
    - name: Save session key
      copy:
        content: "{{ session_key.stdout }}"
        dest: "/tmp/.session.txt"
    - name: Add super user
      command: "mgmt_cli -s /tmp/.session.txt -f json add administrator name '{{ mgmt_user }}' password '{{ mgmt_password }}' must-change-password false authentication-method 'check point password' permissions-profile 'Super User' -d 'System Data'"
    - name: Add user ansible
      command: "mgmt_cli -s /tmp/.session.txt -f json add administrator name 'ansible' password '{{ ansible_user_password }}' must-change-password false authentication-method 'check point password' permissions-profile 'read write all' -d 'System Data'"
    - name: Allow remote API calls
      command: "mgmt_cli -s /tmp/.session.txt -f json set api-settings accepted-api-calls-from 'All IP addresses' -d 'System Data'"
    - name: Publish changes
      command: "mgmt_cli -s /tmp/.session.txt -f json publish"
    - name: Remove the session key
      file:
        path: /tmp/.session.txt
        state: absent
