config_system --config-string "hostname={{ system_name }}&timezone='{{ timezone }}'&install_security_management=true&install_mgmt_primary=true&install_mgmt_primary=false&install_security_gw=false&download_info=true&upload_info=true"
