config_system --config-string "hostname={{ system_name }}&ftw_sic_key={{ sic_pw }}&mgmt_admin_name={{ mgmt_user }}&mgmt_admin_password={{ mgmt_password }}&mgmt_gui_clients_radio=any&&timezone={{ timezone }}&install_security_management=true&install_mgmt_primary=true&install_mgmt_primary=false&install_security_gw=false&download_info=true&upload_info=true"
